
body{
  font-family: 'Noto Sans JP', sans-serif;

}
h2{
    margin-bottom: 0;
    font-size: 28px;
    margin-top: 160px;

}

span{
    border-bottom: 1px solid blue;

}

.tutumi{
    width: 60%;
    height: auto;
    margin-left:15%;
    float: left;
}
.detail{
    width: 80%;
    display: flex;
    align-items: flex-start;
    margin-top:40px;
}
/* img{
    clear: left;
} */

.mainText{
    width: 70%;
}
.back{
    float: right;
    margin-right: 24px;
}

.tutumi p{
    padding:  20px 0 40px 0;
    clear:both;
}

.tutumi a{
    color: #4B6FFF;
}

.date, .category{
    margin-top: 0;
    font-size: 18px;
    padding: 0 5px;
}

.date{
    margin-right: 8%;
}

.category{
    margin-left: 8%;
}

.sideBar{
    margin-top: 160px;
}

@media screen and (max-width: 768px){
    .tutumi {
        width:80%;
    }

}