@charset "utf-8";

.topIMG {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: -9999;
  overflow: hidden;/*画像がヘッダー下部にはみ出ないようにしています*/
}
/**************************************************

ロゴのcss記述です。グローバルナビ同様960pxで表示切替(top.css)

ロゴの記述なのでロゴ以外の修正の際は消さないでください

**************************************************/

/***** トップロゴ *****/
.tLogo{
	position: absolute;
    left: calc(50% - 120px);
    top: calc(50% - 120px - 75px);
    width:240px;
    height: 240px;
    z-index: 999;
}
.tLogo::after{
	position: absolute;
    content: "";
    display: block;
    left: calc(50% - 120px);
    top: calc(50% - 120px);
    width:240px;
    height: 240px;
    background-size: cover;
    background-position: center;
	background-image: url(../images/top/charitoku-logo+.png);
}
@media screen and (min-width : 960px){
	.tLogo{
		position: absolute;
		left: calc(50% - 200px);
		top: calc(50% - 200px - 65px);
		width:400px;
		height: 400px;
	}
	.tLogo::after{
		position: absolute;
		content: "";
		display: block;
		left: calc(50% - 200px);
		top: calc(50% - 200px);
		width:400px;
		height: 400px;
		background-size: cover;
		background-position: center;
		background-image: url(../images/top/charitoku-logo+.png);
	}
}
/**************************************************
ロゴ記述終了
**************************************************/
.commonHeader {
  position: absolute;
  top: 78%;
}

.scroll {
  height: 78px;
  width: 100%;
  background-color: rgba(46, 133, 252, 0.5);
  position: absolute;
  top: 89%;
  z-index: 999;
}

.scroll p {
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  margin-top: 16px;
}

.arrow1 {
  margin: 8px auto 0 auto;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.infoWrap {
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: row;
  /* padding-bottom:100px;*/
  margin: 100px 50px 100px 50px;
}

.block {
  padding: 10px;
  position: absolute;
  top: -50px;
  left: -50px;
  display: table;
  /* 縦中央揃え */
  width: 90px;
  height: 80px;
  background: #fff;
  box-shadow: 0 0 0 3px #fff inset, 0 0 0 4px #000 inset, 0 0 0 1px #000;
  z-index: 8;
}

.block h2 {
  display: table-cell;
  /* 縦中央揃え */
  vertical-align: middle;
  /* 縦中央揃え */
  text-align: center;
  /* 横中央揃え */
  font-size: 20px;
  font-family: 'Sawarabi Mincho', serif;
  font-weight: normal;
  line-height: 1.7;
}

.blogBorder, .rssEvent {
  border: 1px solid black;
  margin: 5%;
  /* position: relative; */
}

.blogBorder {
  width: 40%;
  height: 80%;
}

.rssEvent {
  width: 50%;
  height: 60%;
}

.new {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.new img {
  /* padding: 70px 10px 30px 10px; */
  margin: 10px 24px;
  width: 150px;
  height: 150px;
  max-width: 500px;
  max-height: 500px;
  /* margin: 40px auto 0; */
}

.new .blogText h3{
  margin-top: 60px;
}

.new .blogText h3 a{
  font-family: 'Sawarabi Mincho', serif;
  font-size: 25px;
}

.new .blogText p {
  font-family: 'Sawarabi Mincho', serif;
  font-size: 25px;
}

.blogText {
  /* padding: 70px 10px 30px; */
  text-align: center;
}

.topBox {
  top: 50px;
  left: 30px;
}

.rss ul {
  margin-top: 70px;
  padding-bottom: 20px;
}

.rss ul li {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin: 0 20px;
  padding: 8px;
}

.more {
  float: right;
  text-align: right;
  display: inline-block;
  padding: 10px 10px 10px 15px;
  background: #D2EF70;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  /* line-height: 1.7; */
  /* position: absolute; */
}

.blogMore {
  margin-left: 71%;
  margin-top: 24px;
}

.rssMore {
  bottom: 0;
  right: -30px;
  /* -webkit-transform: translateX(100%); */
  -webkit-transform: translateY(50%);
  /* transform: translateX(100%); */
  transform: translateY(50%);
}

.recommend {
  position: relative;
}

.recommend .topBox {
  position: static;
  margin: 80px;
}

@media screen and (max-width: 1260px) and (min-width: 768px) {
  .new {
    display: block;
    text-align: center;
  }

  .blogText {
    padding: 30px 30px 0 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .infoWrap {
    display: block;
  }

  .new {
    display: block;
    border-top: 1px solid #000;
    padding: 40px 0;
  }

  .new:last-child{
    border-bottom: 1px solid #000;
  }

  .blogBorder, .rssEvent {
    width: 90%;
    margin: 90px auto;
  }

  .rssEvent{
    margin-top: 180px;
  }

  .blogBorder {
    border: none;
  }

  .block {
    position: static;
    margin: 0 auto;
  }

  .blogBorder .block{
    margin-bottom: 60px;
  }

  .eventInfo {
    transform: translateY(-50%);
  }

  .blogBorder {
    padding-bottom: 30px;
  }

  .new img {
    width: 100px;
    height: 100px;
    /* text-align: center; */
  }

  .recommend .topBox {
    margin: 0 auto;
  }

  .new {
    text-align: center;
  }

  .blogText {
    padding: 5%;
  }

  .rss ul {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.topCourse .more{
  margin-right: 24px;
  margin-top: 80px;
}

@media screen and (max-width: 768px) and (min-width : 430px) {
  .new img {
    width: 80%;
    height: 200px;
  }

  .more {
    position: static;
    margin-bottom: 40px;
  }
}

/*スクロール後header固定*/
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

img{
  background-color: #ccc;
}


/*スクロール部分アニメーション*/
.arrow1 {
  -webkit-animation: slide-in-top 1.5s infinite both;
  animation: slide-in-top 1.5s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-8 16:55:24
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: rotate(-45deg) translate(32px,-32px);
            transform: rotate(-45deg) translate(32px,-32px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
            transform: rotate(-45deg) translate(-8px, 8px);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: rotate(-45deg) translate(32px,-32px);
            transform: rotate(-45deg) translate(32px,-32px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
            transform: rotate(-45deg) translate(-8px, 8px);
    opacity: 1;
  }
}




/*top画像スライドショー*/
.slider {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  left: calc(50vw - 768px);
  text-align: left;
  overflow: hidden;
}

.slider ul {
  width: 1536px;
  height: 100vh;
  left: calc(50vw - 768px);
  text-align: left;
  overflow: hidden;
  position: relative;
}

.slider ul li {
  top: 0;
  left: 0;
  width: 1536px;
  height: 100vh;
  left: calc(50vw - 768px);
  display: none;
  position: absolute;
}

img{
  max-width: 100%;
}



.beginnerShadow{
    box-shadow: 20px 20px rgba(161, 250, 147, 1);
}
.standardShadow{
    box-shadow: 20px 20px rgba(84, 100, 242, 1);
}
.advancedShadow{
    box-shadow: 20px 20px rgba(243, 18, 85, 1);
 }
/*
---------------------------------
|新着、イベント部分のアニメーション|
---------------------------------
*/
@media screen and (min-width: 768px){
  .slideLeftOn{
    -webkit-animation: slide-in-left 0.5s linear 0.3s both;
    animation: slide-in-left 0.5s linear 0.3s both;
  }

  /* ----------------------------------------------
  * Generated by Animista on 2019-3-11 10:17:55
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

  /**
  * ----------------------------------------
  * animation slide-in-left
  * ----------------------------------------
  */
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-90%);
              transform: translateX(-90%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-90%);
              transform: translateX(-90%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }


  .slideRightOn{
    -webkit-animation: slide-in-right 0.5s linear 0.8s both;
    animation: slide-in-right 0.5s linear 0.8s both;
  }

  /* ----------------------------------------------
  * Generated by Animista on 2019-3-11 10:20:29
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

  /**
  * ----------------------------------------
  * animation slide-in-right
  * ----------------------------------------
  */
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(90%);
              transform: translateX(90%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(90%);
              transform: translateX(90%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
}
