@charset "utf-8";
/*
---------------------------------
|          reset css            |
---------------------------------
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption, tbody, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


*{
    color: #000000;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
}

/*
-------------------------
|      基本フォント      |
-------------------------
*/
body{font-family: 'Noto Sans JP', sans-serif;}
p ,dl{font-family: 'Sawarabi Mincho', serif;}
h1, h2, h3{font-weight: bold;}
h1, h2{font-size: 24px;}
h3{font-size: 16px;}
p ,a ,li{font-size: 16px;}
@media screen and (min-width: 768px){
    h1, h2{font-size: 28px;}
    h3{font-size: 24px;}
    p, a{font-size: 18px;}
    li{font-size: 24px;}
}


/*
-----------------------------
|      フルードグリッド      |
-----------------------------
*/
.grid1{width: 8.3333%;}
.grid2{width: 16.6666%;}
.grid3{width: 25%;}
.grid4{width: 33.3333% !important;}
.grid5{width: 41.6666%;}
.grid6{width: 50%;}
.grid7{width: 58.3333%;}
.grid8{width: 66.6666%;}
.grid9{width: 75%;}
.grid10{width: 83.3333%;}
.grid11{width: 91.6666%;}
.grid12{width: 100%;}

@media screen and (min-width: 960px) {
    .grid1Pc{width: 8.3333%;}
    .grid2Pc{width: 16.6666%;}
    .grid3Pc{width: 25%;}
    .grid4Pc{width: 33.3333% !important;}
    .grid5Pc{width: 41.6666%;}
    .grid6Pc{width: 50%;}
    .grid7Pc{width: 58.3333%;}
    .grid8Pc{width: 66.6666%;}
    .grid9Pc{width: 75%;}
    .grid10Pc{width: 83.3333%;}
    .grid11Pc{width: 91.6666%;}
    .grid12Pc{width: 100%;}
}
/*
------------------------------
|      グローバルメニュー      |
------------------------------
*/

#commonHeader{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    z-index: 999;
}

#gnavLogo{
    float: left;
    width: 30%;
}

#gnav{
    float: right;
    width: 50%;
}

#gnav li{
    display: inline-block;
    width: 24%;
    height: 80px;
    margin-top: 24px;
    text-align: center;
}

#gnav p{
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}

.navTitle{
    font-size: 26px;
    color: #3887FF;
    margin-top: -10px;
}

.navSubTitle{
    font-size: 14px;
    color:#929297;
    margin-top: 8px;
}

@media screen and (max-width: 960px) {
    #commonHeader{
        height: 60px;
    }
    
    #gnav{
        width:70%;
    }

    #gnav li{
        width:20%;
        margin-left: 5px;
    }

    .navTitle{
        font-size: 22px;
    }

    .navSubTitle{
        display: none;
    }
}
/**************************************************
ロゴのcss記述です。グローバルナビ同様960pxで表示切替(style.css)
**************************************************/
/***** ヘッダーロゴ *****/

#gnavLogo a h1{
    position: absolute;
	top: 0; left: 0;
	max-width: 180px;
    width: 30vw;
    height: 100%;
	z-index: -100;
	color: transparent;
	overflow: hidden;
}
#gnavLogo a h1:hover{
	opacity: 0.5;
}
#gnavLogo a h1::selection{
	background: transparent;
	color: transparent;
}

#gnavLogo .logoImages{
    position: absolute;
	top: calc(50% - 4px); left: 0;
	max-width: 180px;
	width: 30vw;
	max-height: 100%;
	height: 10vw;
	z-index: 100;
	transform: translateY(-50%);
}

#gnavLogo .logoImages::before{
	position: absolute;
	content: "";
    display: block;
    top: calc(0% - 0px);
    left: calc(100% - 0px);
	max-height: 60px;
	height: 10vw;
	max-width: 60px;
	width: 10vw;
	background: url(http://localhost/charitoku/blog/wordpress/wp-content/themes/twentynineteen/images/cycleanimcolorr.png) no-repeat ;
	background-size: cover;
	transform: translateX(-100%);
}
#gnavLogo .logoImages::after{
	position: absolute;
	content: "";
    display: block;
    top: calc(0% - 0px);
	height: 100%;
	max-height: 60px;
	width: 100%;
    max-width: 180px;
	background: url(http://localhost/charitoku/blog/wordpress/wp-content/themes/twentynineteen/images/anim-header.png) no-repeat ;
	background-size: cover;
}

@media screen and (min-width : 960px){
	#gnavLogo a h1{
		position: absolute;
		top: 0; left: 0;
		max-width: 240px;
		width: 100%;
		height: 100%;
		z-index: -100;
		color: transparent;
	}
	#gnavLogo .logoImages{
		position: absolute;
		top: 0; left: 0;
		max-width: 100%;
		width: 240px;
		max-height: 100%;
		height: 100%;
		z-index: 100;
		transform: translateY(0%);
	}
	
	#gnavLogo .logoImages::before{
		position: absolute;
		content: "";
		display: block;
		top: calc(0% - 0px);
		left: calc(0% + 160px);
		max-width: 100%;
		width: 80px;
		max-height: 100%;
		height: 80px;
		background: url(../images/cycleanimcolorr.png) no-repeat ;
		background-size: cover;
		transform: translateX(0);
		animation: cycle-anim-header 0.4s steps(6) infinite; 
	}
	#gnavLogo .logoImages::after{
		position: absolute;
		content: "";
		display: block;
		top: calc(0% - 0px);
		max-height: 100%;
		height: 80px;
		max-width: 100%;
		width: 240px;
		background: url(../images/anim-header.png) no-repeat ;
		background-size: cover;
	}
	@keyframes cycle-anim-header{
		100% { background-position: -480px 0;}
	}
}
/**************************************************
ロゴ記述終了
**************************************************/
/*
-----------------------
|      ルート一覧      |
-----------------------
*/

#itemList{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 40px 10% 0 10%;
}

.itemBox{
    height: 100%;
    margin: 40px;
    border: 1px #000000 solid;
}

.routeTitle{
    margin-top: 16px;
}

.description{
    padding-top: 40px;
    width: 130%;
    height: 20%;
}

.itemBox dl{
    padding-top: 24px;
}

.itemBox dt{
    width: 120px;
    float: left;
    clear: both;
    text-align: left;
}

.itemBox dd{
    width: 100px;
    margin: 4px 0;
    float: left;
    text-align: right;
}

.left{
    float: left;
    width: 70%;
    padding-left: 20px;
}

.right{
    float: right;
    margin-right: 16px;
}

.level{
    width: 56px;
    height: 24px;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

.detail{
    margin-top:160px;
    margin-bottom: 10px;
    color: #4B6FFF;
    text-decoration: underline;
}
@media screen and (max-width: 768px){ /*768px以下のボックスサイズ*/
    .itemBox{
        width: 100%;
        min-width: 320px;
        height: 100%;
        margin: 20px auto;
    }
    
    .mainImg{
        width: 100%;
        height: 60%;
    }
    
    .subImg{
        display: none;
    }
}

@media screen and (max-width: 768px){/*768px以下で説明文、詳細を消去*/
    .description ,.detail{
        display: none;
    }
}

@media screen and (min-width: 768px){/*768px以上の画像サイズ*/
    .mainImg{
        width: 70%;
        height: 384px;
        float: left;
    }

    .subImg{
        width: 30%;
        height: 128px;
        float: left;
    }
}

@media screen and (max-width: 1280px) and (min-width: 960px){ /*960~1280pxのボックスサイズ*/
    .itemBox{
        margin:40px auto 20px auto;
    }
    
    .mainImg{
        width: 100%;
    }

    .subImg{
        display: none;
    }
}
.beginner{background-color: #a1fa93;}
.standard{background-color: #5464f2;}
.advanced{background-color: #f31255;}




/*メインとサイドバーを横並び*/
main{
        width: 70%;
        float:left;
}

.sideBar{
    float: left;
}


/*サイドバー*/
@media screen and (min-width: 768px){
    .sideBar{
        width: 16%;
        border: 1px solid #000000;
        text-align: center;
    }

    .searchBox{
        width: 66.666%
    }

    .searchBar{
        margin: 20px;
    }


    .sideBar h4{
        font-size: 20px;
        border-top: 2px dashed #000000;
        padding: 20px 0;
    }

    .sideBar a{
        display: block;
        padding: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px){
    .sideBar{
        margin: 40px;
    }

    .searchBar{
        margin-top: 20px;
    }

    .sideBar h4{
        margin: 20px 0 10px 0;
    }
}

/*
-----------------------------
|      ページネーション      |
-----------------------------
*/

.pagenation{
    clear: both;
    text-align: center;
}

.pagenation ul{
    display: inline-block;
    padding: 0;
    margin: 80px 0 0 0;
}

.pagenation li{
    display: inline;
}

.pagenation li a {
    color: black;
    float: left;
    padding: 8px 16px;
    border: 1px solid #ddd;
}

.pagenation .active {
    background-color: #3887FF;
    color: white;
    border: 1px solid #3887FF;
}

.pagenation li a:hover:not(.active) {
    background-color: #ddd;
}

/*
---------------------
|      フッター      |
---------------------
*/

footer{
    clear: both;
    margin-top: 100px;
    width: 100%;
    height: 320px;
}

footer div{
    height: 100%;
    background-color: #0005A2;
    opacity: 0.3;
    text-align: center;
}

.banner li{
    display: inline-block;
    background-color: white;
    margin: 40px 160px 0 160px;
}

footer p{
    color: #ffffff;
    margin-top: 15%;
}

@media screen and (min-width: 768px){
    .banner li{
        margin: 40px 8.3% 0 8.3%;
    }
}

/*
--------------------------
|フェードインアニメーション|
--------------------------
*/

@media screen and (min-width: 768px){
    .fadein{
        opacity: 0;
    }

    .fadeinOn{
        opacity: 1.0;
        animation: fade-in-fwd 1s ease-in-out both;
    } 
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-5 15:3:48
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  